html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    background-color:rgb(238, 234, 234);
  }
  
  .joinInnerContainer {
    width: 320px;
  }
  
  .joinInput {
    border-radius: 10px;
    padding: 15px 15px;
    width: 100%;
    
  }
  
  .heading {
    color: rgb(8, 8, 8);
    font-size: 1.5em;
    padding-bottom: 10px;
    
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background:rgb(82, 190, 109);
      padding: 20px;
      margin-top: 200px;
      border-radius: 20px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 320px;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }